<!DOCTYPE html>
<html>
<head>
    <meta name="'viewport" content="width=device-width" ,initial-scale="1.0">
    <title> About us </title>
    <link rel="stylesheet" href="Aboutstyling.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: whitesmoke;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background:  #3c31dd;
  color: white;
}

.container {
  padding: 0 16px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us </h1>
  <p>Make every study hour count.
  A platform for students to exchange notes and track their career trajectory</p>
  <H1>Our Vision</H1>
  <p>StudyBuddy is an online learning platform for course-specific study resources.
  <br><br> With increasing competition in our day to day life, resources to assist them have become scarce , this is where STUDY BUDDY comes in handy.
  <br><br> Study Buddy supports students on their unique learning journey as they seek help and resources to better understand their coursework, prepare for exams, learn and remember. Students can contribute their own resources and access millions of learning materials.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
   <div class="column">
     
      <div class="container">
        <h3>Mitra Abhi Sura</h3>
        <p>ms139@snu.edu.in</p>
        
      </div>
    </div>
</body>
</html>