<!DOCTYPE html>
<html>

<head>
    <title>chemistry GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.jmi.ac.in/" target="_blank">Jamia Millia Islamia </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://www.unipune.ac.in/" target="_blank">Savitribai Phule Pune University </a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.amu.ac.in/" target="_blank">Aligarh Muslim University </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://www.iitb.ac.in/" target="_blank"> IIT Bombay </a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="http://www.sjc.ac.in/" target="_blank">St. Joseph's University</a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.liverpool.ac.uk/" target="_blank"> The University of Liverpool </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.ubc.ca/" target="_blank">The University of British Columbia </a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.tamu.edu/" target="_blank"> Texas A & M University</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://www.northeastern.edu/" target="_blank">Northeastern University</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.unimelb.edu.au/" target="_blank">The University of Melbourne </a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
