<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/contactstyle.css">
</head>
<body>



<div >
  <div style="text-align:center">
    <h1>Contact Customer Support</h1>
    <p>Still need some help? <br>Submit a ticket and we'll get back to you as soon as possible!</p>
  </div>
  <div class="row">
   
    <div class="column">
      <form action="#" method="post">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

</body>
</html>