<!DOCTYPE html>
<html>

<head>
    <title>CSE GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.iitm.ac.in/" target="_blank"> IIT Chennai</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.iitb.ac.in/" target="_blank"> IIT Bombay</a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://home.iitd.ac.in/" target="_blank"> IIT Delhi</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.iitk.ac.in/" target="_blank"> IIT Kanpur</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://iith.ac.in/" target="_blank"> IIT Hyderabad</a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href=" https://www.ox.ac.uk/" target="_blank"> University of Oxford</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.mit.edu/" target="_blank"> Massachusetts Institute of Technology (MIT) US</a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.stanford.edu/" target="_blank"> Stanford University US</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.cam.ac.uk/" target="_blank"> The University of Cambridge</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.berkeley.edu/" target="_blank"> UC Berkeley</a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
