<!DOCTYPE html>
<html>

<head>
    <title>HST GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="http://www.jaduniv.edu.in/" target="_blank">Jadavpur University  </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://loyolacollege.edu/" target="_blank"> Loyola College</a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.mirandahouse.ac.in/" target="_blank">Miranda House </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://mcc.edu.in/" target="_blank">Madras Christian College </a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="http://www.banasthali.org/" target="_blank">Banasthali University</a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.liverpool.ac.uk/" target="_blank"> The University of Liverpool</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.ubc.ca/" target="_blank">The University of British Columbia </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://www.tamu.edu/" target="_blank">Texas A & M University</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.coventry.ac.uk/" target="_blank"> Coventry University</a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
