<!DOCTYPE html>
<html>

<head>
    <title>IR GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="http://www.jnu.ac.in/" target="_blank"> Jawaharlal Nehru University</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://www.jaduniv.edu.in/" target="_blank"> Jadavpur University</a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.sau.int/" target="_blank">South Asian University </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.amity.edu/" target="_blank"> Amity Noida</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="http://www.pondiuni.edu.in/" target="_blank">Pondicherry University</a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.sciencespo.fr/en/" target="_blank"> Sciences Po </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.lse.ac.uk/" target="_blank"> London School of Economics and Political Science</a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.ox.ac.uk/" target="_blank">University of Oxford </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.cam.ac.uk/" target="_blank">The University of Cambridge</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.kcl.ac.uk/" target="_blank">King's College London </a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
