<!DOCTYPE html>
<html>

<head>
    <title>math GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.jmi.ac.in/" target="_blank"> JMI New Delhi</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.srmist.edu.in/" target="_blank">SRM University Chennai </a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.iitb.ac.in/" target="_blank"> IIT Bombay</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.msubaroda.ac.in/" target="_blank">MSU Baroda  </a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://christuniversity.in/" target="_blank">Christ Univeristy </a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.liverpool.ac.uk/" target="_blank">The University of Liverpoo </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.utoronto.ca/" target="_blank"> University of Toronto, Canada </a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.ubc.ca/" target="_blank">The University of British Columbia </a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://www.tamu.edu/" target="_blank">Texas A & M University</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.ualberta.ca/index.html" target="_blank">University of Alberta </a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
