<!DOCTYPE html>
<html>

<head>
    <title>ECE GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://aissmscoe.com/" target="_blank"> AISSMS COE Pune</a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://pes.edu/" target="_blank"> PES University, Bangalore</a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://www.mitwpu.edu.in/" target="_blank"> MIT WPU Faculty of Engineering, Pune</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://iitgn.ac.in/" target="_blank"> IIT Gandhinagar - Indian Institute of Technology</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.nitrkl.ac.in/" target="_blank">NIT Rourkela</a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://www.mit.edu/" target="_blank">Massachusetts Institute of Technology (MIT) US </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.stanford.edu/" target="_blank"> Stanford University US</a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.universityofcalifornia.edu/" target="_blank"> University of California</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="https://www.harvard.edu/" target="_blank">Harvard University</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://umich.edu/" target="_blank"> University of Michigan</a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
