<!DOCTYPE html>
<html>

<head>
    <title>SOC GUIDANCE</title>
    <link rel="stylesheet" href="/static/guidance.css">
</head>
<body>
    <h1> List Of Best Universities</h1>
    
    
    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities in India</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="http://www.jnu.ac.in/" target="_blank"> Jawaharlal Nehru University </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://www.ignou.ac.in/" target="_blank"> Indira Gandhi National Open University</a></td>
                
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.jmi.ac.in/" target="_blank"> Jamia Millia Islamia</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://uohyd.ac.in/" target="_blank"> University of Hyderabad</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://mu.ac.in/" target="_blank">University of Mumbai </a></td>
                
            </tr>
       
        </tbody>
    </table>

    <table class="container">
        <thead>
            <tr>
                <th><h1>S.No</h1></th>
                <th><h1>Top 5 Universities Abroad</h1></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="http://www.duq.edu/" target="_blank">Duquesne University </a></td>
                
            </tr>
            <tr>
                <td>2</td>
                <td><a href="https://www.port.ac.uk/" target="_blank">University of Portsmouth  </a></td>
               
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://www.depaul.edu/Pages/default.aspx" target="_blank"> DePaul University</a></td>
                
            </tr>
        <tr>
                <td>4</td>
                <td><a href="http://www.pdx.edu/" target="_blank">Portland State University</a></td>
               
            </tr>
        <tr>
                <td>5</td>
                <td><a href="https://www.calstate.edu/" target="_blank"> California State University</a></td>
                
            </tr>
       
        </tbody>
    </table>
    

    </body>
    </html>
