<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="wronglogstylestyle.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Wrong Credentials</div>
    <div class="content">
      <form action="#">
        <div class="button" href="login.html">
          <input  type="submit" value="Back to Log-In">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
